#container{
    width: 50%;
    margin: 2em auto;
    padding: 2em;
    text-align: center;
}
header{
    background: rgb(168, 126, 126);
}
header h1{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
section{
    color: rgb(235, 209, 148);
    border: 2px double saddlebrown;
    background: darkgrey
}