*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{  
    font-family: sans-serif;
    position: relative;
}

.bg-light{
    background-color: black !important;
    color: white;
}
h1{
    text-align: center;
    padding: 20px;
}
.navbar-light .navbar-brand {
    color: white;
}
.elementItem {
    border: 1px solid rgb(138, 138, 138);
}

.elementItem img {
    width: 100%;
    padding: 0;
}
.image-div img{
    width: 100%;
}

.seasons-div, .cast-div {
    padding: 20px 50px;
}
div{
    padding: 10px;
}
.container-fluid{
    padding: 0;
}
.searchList{
    position: absolute;
    top: 58px;
    right: 34px;
    width: 220px;
    list-style-type: none;
    background-color: #f7f7f7;
    border-radius: 5px;
    z-index: 1;
    
}
.searchList li{
    padding: 5px;
    border-bottom: 1px solid rgb(199, 194, 194);
}

.searchList li:hover{
    background-color: rgb(48, 48, 48);
}

.searchList li a :hover{
    color: white;
    text-decoration: none;
}

.searchList li:last-child {
    border: none;
}
