div{

    width: 80%;
    height: 800px;
    padding: 2px 20px;
    text-align: center;
}
p{
    background: lightskyblue;
    padding: 1%;
    border: lightskyblue 1px solid;
    border-radius: 5px;
    display: table;
    
}
input, button{
    margin: 2px auto;
    display: block;
    padding: 3px;
}