*{
    padding: 0;
    margin: 0;
}
body, html {
    height: 100%;
}
#football{  
    background-image: url("images/football.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100%; 
   
}

#player{
    z-index: 2;
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    
} 