.first{
    text-align: left;
}
.second{
    text-align: right;
}
.third{
    text-align: center;
}
a{
    color: red;
    text-shadow: 47px -3px 19px rgba(223, 140, 131, 0.86);
}
a:visited {
    color:black;
}
a:hover{
    color:green;
}
a :active{
    color:blue;


}


